<!DOCTYPE=html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WhoDoesMyHair App for Insight Data Science 2014C">
    <meta name="author" content="giadac">
    <link rel="icon" href="../../favicon.ico">

    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/base.css" rel="stylesheet">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>WhoDoesMyHair</title>
    {% endif %}
    {% block css %}{% endblock %}
    {% block javascripttop %}{% endblock %}
      <!-- Adding Google Analytics -->
      <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-60318624-1', 'auto');
	ga('send', 'pageview');
      </script>
  </head>
  
  <body style="background-color: #797ba9">
    <div id="whodoesmyhair-navbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
       <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <strong>
	    <!-- tab Home -->
	    {% if tab == "home" %}
            <a class="navbar-brand" style="color: #2a1710;">WhoDoesMyHair</a>
	    {% else %}
            <a class="navbar-brand" href="/index" style="color: #2a1710;">WhoDoesMyHair</a>
	    {% endif %}
	  </strong>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav navbar-right">
	    <!-- tab stylist -->
	    {% if tab == "stylist" %}
            <li class="active"><a style="background-color: #a9a779; color: #2a1710;">STYLIST</a></li>
	    {% endif %}
	    <!-- tab slides -->
	    {% if tab == "slides" %}
            <li class="active"><a style="background-color: #a9a779; color: #2a1710;">SLIDES</a></li>
	    {% else %}
            <li><a href="/slides">SLIDES</a></li>
	    {% endif %}
	    <!-- tab aboutme -->
	    {% if tab == "aboutme" %}
            <li class="active"><a style="background-color: #a9a779; color: #2a1710;">ABOUT ME</a></li>
	    {% else %}
            <li><a href="/aboutme">ABOUT ME</a></li>
	    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <br><br>
    {% block body %}{% endblock %}

    <!-- Bootstrap + jQuery
    ================================================== -->
    <!--<script src="../static/js/jquery.min.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>
    {% block javascriptbottom %}{% endblock %}
   </body>
</html>
